.card {
    width: 150px;
    height: 100px;
    background: #935ddf;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
    margin: 15px;
}

.text {
    position:relative;
    top: 35px;
    margin: 0;
    font-size: 20px;
}

.token {
    width: 100px;
    height: 100px;
    background: #935ddf;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #000000;
    margin: 15px;
}

.first {
    background: #df5dbb;
}

.second {
    background: #45b0d1;
}

.third {
    background: #3b4ea8;
}

.token-text {
    margin: 0;
    font-size: 20px;
    position: relative;
    top: 25px;
}

.token-counter {
    margin: 0;
    font-size: 13px;
    position: relative;
    top: 30px;
}

.container {
    display: flex;
}